.button {
  display: inline-block;
  text-decoration: none;
  border: 0;
  padding: 1em 2em 1em;
  transition-delay: 0.2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .button:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s; }

.button-rounded {
  border-radius: 30px; }

.button-action {
  padding: 1em 1.4em;
  border-radius: 50%; }

.button-black {
  color: #ffffff;
  background-color: #000000; }

.button-white {
  color: #000000;
  background-color: #ffffff; }

.button-red {
  color: #ffffff;
  background-color: #f44336; }

.button-pink {
  color: #ffffff;
  background-color: #e91e63; }

.button-purple {
  color: #ffffff;
  background-color: #9c27b0; }

.button-deep-purple {
  color: #ffffff;
  background-color: #673ab7; }

.button-indigo {
  color: #ffffff;
  background-color: #3f51b5; }

.button-blue {
  color: #ffffff;
  background-color: #2196f3; }

.button-light-blue {
  color: #ffffff;
  background-color: #03a9f4; }

.button-cyan {
  color: #ffffff;
  background-color: #00bcd4; }

.button-teal {
  color: #ffffff;
  background-color: #009688; }

.button-green {
  color: #ffffff;
  background-color: #4caf50; }

.button-light-green {
  color: #ffffff;
  background-color: #8bc34a; }

.button-lime {
  color: #ffffff;
  background-color: #cddc39; }

.button-yellow {
  color: #ffffff;
  background-color: #ffeb3b; }

.button-amber {
  color: #ffffff;
  background-color: #ffc107; }

.button-orange {
  color: #ffffff;
  background-color: #ff9800; }

.button-deep-orange {
  color: #ffffff;
  background-color: #ff5722; }

.button-brown {
  color: #ffffff;
  background-color: #795548; }

.button-grey {
  color: #ffffff;
  background-color: #9e9e9e; }

.button-blue-grey {
  color: #ffffff;
  background-color: #607d8b; }

.fixed {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 100; }
