@import "cocktail"
@import "normalize"

*
  line-height: 1.2
  margin: 0

html
  color: #888
  display: table
  font-family: sans-serif
  height: 100%
  text-align: center
  width: 100%

body
  display: table-cell
  vertical-align: middle
  margin: 2em auto

h1
  color: #555
  font-size: 2em
  font-weight: 400

p
  margin: 0 auto
  width: 280px

img
  height: 280px

a
  text-decoration: none

hr
  margin: 50px
  border: 0

@media only screen and (max-width: 280px)
  body, p
    width: 95%
  h1
    font-size: 1.5em
    margin: 0 0 0.3em

.hero
  padding: 7em 0 8em
  background-color: #eee
  img
    height: 250px
  p
    margin-bottom: 40px

.btn
  color: $white
  text-decoration: none
  background-color: $blue
  padding: 1em 2em 1em
  transition-delay: 0.2s
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  &:hover
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2)
    transition-delay: 0s

section
  padding: 1em 0 1em
  width: 100%

section p
  background-color: #eee
  padding: 1em 0 1em
  transition-delay: 0.2s
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26)
  &:hover
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2)
    transition-delay: 0s

.colours section:nth-child(1)
  background-color: $black

.colours section:nth-child(2)
  background-color: $white

.colours section:nth-child(3)
  background-color: $red

.colours section:nth-child(4)
  background-color: $pink

.colours section:nth-child(5)
  background-color: $purple

.colours section:nth-child(6)
  background-color: $deep_purple

.colours section:nth-child(7)
  background-color: $indigo

.colours section:nth-child(8)
  background-color: $blue

.colours section:nth-child(9)
  background-color: $light_blue

.colours section:nth-child(10)
  background-color: $cyan

.colours section:nth-child(11)
  background-color: $teal

.colours section:nth-child(12)
  background-color: $green

.colours section:nth-child(13)
  background-color: $light_green

.colours section:nth-child(14)
  background-color: $lime

.colours section:nth-child(15)
  background-color: $yellow

.colours section:nth-child(16)
  background-color: $amber

.colours section:nth-child(17)
  background-color: $orange

.colours section:nth-child(18)
  background-color: $deep_orange

.colours section:nth-child(19)
  background-color: $brown

.colours section:nth-child(20)
  background-color: $grey

.colours section:nth-child(21)
  background-color: $blue_grey

.buttons
  background-color: $white
  padding: 3em 0 3em

.buttons h2
  margin-bottom: 40px

.button
  margin: 10px

.download
  padding: 3em 0 3em
  width: 100%
  background-color: $blue
  color: $white

.code
  color: $white
  background-color: $grey
  padding: 10px
